setuptools==65.5.0
wheel
numpy==1.26.4
tensorflow==2.15.0
streamlit
pillow
matplotlib
opencv-python-headless
qrcode
reportlab
google-generativeai
pandas
scikit-learn
scipy
folium
streamlit-folium
requests